.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    

    a {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
    }
    
}