.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 24px;
    grid-area: info;
    
    

   .language-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
   }

   .education-info {
    text-align: left;
   }

   span {
    color: var(--text-secondary);
    
   }
}